<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | SoftPlace</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #92d8c4; /* Dark blue color */
            min-height: 100vh;
            font-family: Arial, sans-serif;
        }
        nav {
            background-color: #1a202c; /* Dark gray color */
            color: #e2e8f0; /* Light gray color */
        }
        .footer {
            background-color: #1a202c; /* Dark gray color */
            color: #e2e8f0; /* Light gray color */
        }
    </style>
</head>
<body>
    <nav class="py-6 px-6 flex justify-between items-center">
        <a href="#" class="text-2xl text-green-600 font-semibold">SoftPlace</a>
    
        <div class="space-x-10"> <!-- Increased spacing to 8 -->
            <a href="{% url 'core:contact' %}" class="text-lg text-green-600 font-semibold hover:text-green-500">Contact</a>
            <a href="{% url 'core:chat' %}" class="text-lg text-green-600 font-semibold hover:text-green-500">Chat</a>
            <a href="{% url 'core:becomeaseller' %}" class="text-lg text-green-600 font-semibold hover:text-green-500">Become a Seller</a>
        </div>
    </nav>
    
    
    <main class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="py-6 px-6 flex flex-wrap justify-between footer">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 pr-4 mb-6">
            <h3 class="mb-3 font-semibold">Menu</h3>
            <ul class="space-y-2">
                <li><a href="{% url 'core:about' %}" class="text-lg text-green-600 hover:text-green-500">About</a></li>
                <li><a href="{% url 'core:index' %}" class="text-lg text-green-600 hover:text-green-500">Products</a></li>
                <li><a href="{% url 'core:contact' %}" class="text-lg text-green-600 hover:text-green-500">Contact</a></li>
                <li><a href="{% url 'core:privacypol' %}" class="text-lg text-green-600 hover:text-green-500">Privacy Policy</a></li>
                <li><a href="{% url 'core:termsofuse' %}" class="text-lg text-green-600 hover:text-green-500">Terms of Use</a></li>
            </ul>
        </div>
        
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 pr-4 mb-6">
            <h3 class="mb-3 font-semibold">Community</h3>
            <ul class="space-y-2">
                <li><a href="{% url 'core:socialmedia' %}" class="text-lg text-green-600 hover:text-green-500">Social Media</a></li>
                <li><a href="{% url 'core:career' %}" class="text-lg text-green-600 hover:text-green-500">Careers</a></li>
                <li><a href="{% url 'core:becomeaseller' %}" class="text-lg text-green-600 hover:text-green-500">Become a Seller</a></li>
                <li><a href="{% url 'core:internships' %}" class="text-lg text-green-600 hover:text-green-500">Internships</a></li>
            </ul>
        </div>
        
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 pr-4 mb-6">
            <h3 class="mb-3 font-semibold">Courses</h3>
            <ul class="space-y-2">
                <li><a href="{% url 'core:ecourses' %}" class="text-lg text-green-600 hover:text-green-500">E-Courses</a></li>
                <li><a href="{% url 'core:pathwaytoempl' %}" class="text-lg text-green-600 hover:text-green-500">Pathway to Employment</a></li>
            </ul>
        </div>
        
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 pr-4 mb-6">
            <h3 class="mb-3 font-semibold">Others</h3>
            <ul class="space-y-2">
                <li><a href="{% url 'core:buscollaboration' %}" class="text-lg text-green-600 hover:text-green-500">Business Collaboration</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
