{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-6 gap-5">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" class="rounded-xl">
        <p class="text-teal-600">|</p>
        <div class="col-span-3 p-6 bg-gray-700 rounded-xl">
            <p class="text-2xl text-green-600">About the Seller</p>
            <p class="text-white">{{ item.created_by }}</p>
            <p class="text-2xl text-white">Experience:</p>
            <p class="text-white">{{ item.experience }}</p>
            <p class="text-2xl text-white">Other Projects::</p>
            <p class="text-white">{{ item.otherprojects }}</p>
        </div>
        <p class="text-teal-600">|</p>
        <div class="col-span-3 p-6 bg-gray-700 rounded-xl">
            <p class="text-2xl text-green-600">Contact the Seller or the Team</p>
            <p class="text-white">Contact the Seller or Team to discuss furthe about the Software. This would provide you a better outlook of the Software. You can make customization and discuss the pricing and negotiate the price </p>
            <a href="#" class="inline-block mt-6 px-6 py-6 text-lg font-semibold bg-green-600 text-white hover:green-700 rounded-xl">Contact Seller</a>
        </div>
    </div>
    <div class="col-span-3 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <p class="text-gray-500">Seller:  {{ item.created_by }} </p>
        <p class="text-gray-500">Price:  {{ item.price }}$</p>
        <h1 class="text-3xl">Descritpion:</h1>
        <p class="nb-1xl">{{ item.description }}</p>
        <a href="#" class="inline-block mt-6 px-6 py-6 text-lg font-semibold bg-green-600 text-white hover:green-700 rounded-xl">Contact Seller</a>

    </div>
</div>



{% endblock %}